*{
    padding: 0px;
    margin: 0px;
}




body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(180deg, #DAE2F8, #D6A4A4);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}





.container-1{
    width: 400px;
    backdrop-filter: blur(200px);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.input-dev{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px;

}

#inputText{
    width: 60%;
    height: 45px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 0;
    font-size: 18px;
}

#search-btn{
    padding: 10px 15px;
    border-radius: 5px;
    border: 0;
    transition: 0.3s;
    font-size: 17px;

}

#search-btn:hover{
    scale: 1.03;
    color: white;
    background-color: rgb(211, 211, 211);
}



.second-half-dev{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 140px;
}


.second-half-dev-1{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 100px;
}


.img-2{
    width: 60px;
    margin-right: 15px;
}



.img-1{
    width: 230px;
}

.humidity-dev{
    display: flex;
    align-items: center;
    text-align: left;
    margin: 10px;
}

.Wind-div{
    display: flex;
    align-items: center;
    text-align: left;
    margin: 10px;

}



.p-tag{
    font-size: 18px;
}